<!-- 
<div class="flex">


  <div class="container" id="left" dragula="formBuilder" [(dragulaModel)]="availables">

    <div class="vamp" *ngFor="let item of availables">
        <button class="btn btn-squared-default btn-default">
            <i [ngClass]="item.icon"></i>
            {{ item.label }}
        </button>
    </div>
  </div>

  <div class="container" id="right" dragula="formBuilder" [(dragulaModel)]="generated">
    <div class="vamp" *ngFor="let item of generated" [innerHtml]="item.label | safeHtml" (click)='onclick(item)'></div>
  </div> 

  <form class="dynamic-form" dragula="formBuilder" [formGroup]="form" [(dragulaModel)]="generated">
    <ng-container *ngFor="let field of generated" dynamicField [field]="field" [group]="form">
    </ng-container>
  </form>
      

  <div class="container" >
    
  </div>
  
</div> -->


<!-- 
<p>Nested component</p>
<div class="parent">
  <label for="hy">
    <strong>Angular-specific example.</strong>
    Fancy some nested <code>ngFor</code>?
  </label>
  <div class="wrapper" dragula="nestedGroup" [(dragulaModel)]="groups">
    <div class="container" *ngFor="let group of groups">
      <span class="group-handle">{{group.name}}</span>
      <div class="container" dragula="ITEMS" [(dragulaModel)]="group.items">
        <div *ngFor="let item of group.items" [innerHtml]="item.name"></div>
      </div>
    </div>
  </div>
   <pre><code>{{ code }}</code></pre>
</div> -->

<div class="row">
  <h3>Form Designer <span *ngIf="formDefination.FormName">: {{formDefination.FormName}}</span></h3>
</div>

<div class="row">
  <div class="col-4 col-md-3" style="border: 1px solid rgb(214, 206, 206);">

    <div dragula="formBuilder" [(dragulaModel)]="availables">
      <div class="vamp" *ngFor="let item of availables">
          <button class="btn btn-squared-default btn-default" (click)='addTextField(item.id)'>
              <i [ngClass]="item.icon"></i>
              {{ item.name }}
          </button>
      </div>
    </div>

  </div>


  <div class="col-8 col-md-6" style="border: 1px solid rgb(214, 206, 206);">

    <!-- <dynamic-form [fields]="fields" (submit)="submit($event)" (elementOnClick)='loadField(f)'>
    </dynamic-form> -->

  <form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)">
      <div class="designElement" *ngFor="let f of formDefination.fields" dynamicField [field]="f" [group]="form" (click)='loadField(f)'>
      </div>
  </form>
    
  </div>


  <div class="col-4 col-md-3" style="border: 1px solid rgb(214, 206, 206);">
  
    <ngb-tabset>
      <ngb-tab title="Options">
        <ng-template ngbTabContent>
        
          <!-- {{selected | json}} -->

          <div *ngIf='selected'>
    
            <div class="form-group" >
              <label for="">Field Label</label>
              <input type="text" class="form-control" [(ngModel)]="selected.label">
            </div>

            <div class="form-group" *ngIf='selected.inputType'>
              <label for="">Input Type</label>
              <select class="form-control" [(ngModel)]="selected.inputType"> 
                <option value="text">Text</option>
                <option value="number">Number</option>
                <option value="tel">Phone</option>
                <option>password</option>
                <option>email</option>
                <option>time</option>
                <option>datetime-local</option>
              </select>
            </div>

            <div class="form-group" *ngIf='selected.type == "input"'>
                <label for="">Placeholder</label>
                <input type="text" class="form-control" [(ngModel)]="selected.placeholder">
            </div>

            <div class="form-group" *ngIf='selected.type == "radiobutton" || selected.type == "select"'>
              <label>Options</label>
              <div *ngFor="let option of selected.options; let i = index">
                  <input type="text" class="form-control form-control-sm" [ngModel]="option" (change)="onOptionChange($event, i)">
                   <!-- [(ngModel)]="selected.options[i]"> -->
              </div>
 
            </div>


            <div class="form-group" *ngIf='selected.name'>
              <label for="">Field Name</label>
              <input type="text" class="form-control" [ngModel]="selected.name" (change)="onFormNameChange($event)"
              disabled>
            </div>

          </div>
          
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Custom</ng-template>
        <ng-template ngbTabContent>
          Some Custom class or attach code
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Form Config">
        <ng-template ngbTabContent>

          <div class="form-group">
            <label for="exampleFormControlInput1">Form Name</label>
            <input type="text" class="form-control" [(ngModel)]="formDefination.formName" required>
          </div>

          <div class="form-group">
              <label for="exampleFormControlInput1">Path</label>
              <input type="text" class="form-control" [(ngModel)]="formDefination.formPath" required>
            </div>
  
          <button class="btn btn-primary" (click)="saveForm()">Save Form</button>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>


  </div>
</div>


<p>{{formDefination | json}}</p>