
<div class="flex">


  <div class="container" id="left" dragula="formBuilder" [(dragulaModel)]="availables">

    <div class="vamp" *ngFor="let item of availables">
      
        <button class="btn btn-squared-default btn-default">
            <i [ngClass]="item.icon"></i>
            {{ item.label }}
        </button>

    </div>
  </div>




  <div class="container" id="right" dragula="formBuilder" [(dragulaModel)]="generated">
    <div class="vamp" *ngFor="let item of generated" [innerHtml]="item.label | safeHtml" (click)='onclick(item)'></div>
  </div>



  <div class="container" >

      <ngb-tabset>
          <ngb-tab title="Options">
            <ng-template ngbTabContent>
            
              {{currentElement | json}}

              <div class="form-group" *ngIf='currentElement'>
                <label for="exampleFormControlInput1">Field Label</label>
                <input type="text" class="form-control" [(ngModel)]="currentElement.label">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Custom</ng-template>
            <ng-template ngbTabContent>
              Some Custom class or attach code
            </ng-template>
          </ngb-tab>
          <ngb-tab title="More" [disabled]="true">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        
    
  </div>
  
</div>



<!-- 
<p>Nested component</p>
<div class="parent">
  <label for="hy">
    <strong>Angular-specific example.</strong>
    Fancy some nested <code>ngFor</code>?
  </label>
  <div class="wrapper" dragula="nestedGroup" [(dragulaModel)]="groups">
    <div class="container" *ngFor="let group of groups">
      <span class="group-handle">{{group.name}}</span>
      <div class="container" dragula="ITEMS" [(dragulaModel)]="group.items">
        <div *ngFor="let item of group.items" [innerHtml]="item.name"></div>
      </div>
    </div>
  </div>
   <pre><code>{{ code }}</code></pre>
</div> -->
