


.container span {
    display: block;
    padding: 8px;
  }


  * {
    box-sizing: border-box;
  }
  
  h3, h3 code {
    font-size: 20px;
  }
  
  .flex {
    display: flex;
    padding: 8px;
    background: rgba(255, 255, 255, 0.4);
  }
  
  .container {
    flex: 1;
  }
  .container:not(:last-child) {
    margin-right: 8px;
  }
  
  .vamp {
    background: rgba(255, 255, 255, 0.4);
    list-style: none;
    padding: 8px;
    color: #222;
  }
  
  .vamp:not(:last-child) {
    border-bottom: 1px solid rgb(180, 177, 177);
  }
  
  a:link, a:visited, a:hover, a:active { color: lightblue; }


  .designElement{
    height: 20px;
    width: 20px;
    float: right;
    margin-top: 5px;
    background-image: url("../../assets/edit-icon.png");
  }