
 <!-- <form #form='ngForm' novalidate>

    <div class="form-group">
      <label class="col-form-label-sm" for="FirstName">Run query</label>
      <input #firstName class="form-control form-control-sm" type="text" placeholder="FirstName" name="FirstName"
        [ngModel]="quote.firstName" (ngModelChange)="toUpperCase($event)">
      <div class=""></div>
    </div>
  
   <div class="form-group">
        <label for="LastName">Last Name</label>
        <input class="form-control" type="text" placeholder="LastName" name="LastName" 
          [(ngModel)]="quote.lastName">
    </div>
    
    <div class="checkbox">
      <label>
        <input type="checkbox" name="isfulltime" [(ngModel)]="quote.isFullTime"> Full Time Employee
      </label>
    </div>
  
    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="w2" [(ngModel)]="quote.paymentType" checked>
        W2
      </label>
    </div>
  
    <div class="radio">
        <label>
          <input type="radio" name="paymentType" value="1099" [(ngModel)]="quote.paymentType">
          1099
        </label>
    </div>
    
    <div class="form-group">
        <label for="FirstName">Primary Language</label>
        <select class="form-control" name="primaryLanguage" [(ngModel)]="quote.primaryLanguage">
          <option *ngFor="let lang of languages">{{lang}}</option>
        </select>
    </div>
  
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="effDate" [(ngModel)]="eff" ngbDatepicker #effDate="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="effDate.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  
    <button class="btn btn-primary" type="submit">OK</button>           
  
  </form>-->
  
<!-- 
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-3">
      One of columns
    </div>

    <div class="col-sm-12  col-md-6 col-lg-3">
      One of columns
    </div>

    <div class="col-sm-12  col-md-6 col-lg-3">
      One of columns
    </div>

    <div class="col-sm-12  col-md-6 col-lg-3">
      One of columns
    </div>

  </div> -->


  
<!-- 
<hr/>

<P>Model: {{quote | json}}</P>

<P>Angular: {{form.value | json}}</P>

<P>Classes: {{firstName.className }}</P> -->


<button class="btn btn-primary" (click)='getData()'>
    Get Data
</button>

<button class="btn btn-primary" (click)='addConfig()'>
  Add Field
</button>

<button class="btn btn-primary" (click)='printCurrent()'>
  print config data
</button>

<button class="btn btn-primary" (click)='addTextField()'>
    Add text field
</button>
  
<button class="btn btn-primary" (click)='addLink()'>
  Add nav link
</button>
<button class="btn btn-primary" (click)='saveFields()'>
  Save fields to db
</button>

<button class="btn btn-primary" (click)='success("success message")'>
  Alert success
</button>

<button class="btn btn-primary" (click)='error("error message")'>
    Alert Error
</button>
  


<!-- <pre>Model: {{ product | json }}</pre> -->


<dynamic-form [fields]="regConfig" (submit)="submit($event)">
</dynamic-form>
<div class="margin-top">
  {{ form.value | json }}
</div>

